body {
    background-color: #ffcb63
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 90vh; /* ajuste conforme necessário */
}

.title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
}

.card-principal {
    background-color: #f6fad9;
    border: 2px solid rgb(95 97 110);
    border-radius: 0.2em;
    padding: 3em 1em 1em 1em; /* top right bottom left */
    margin: 20px 0px 25px 0px;
    width: fit-content; /* ou algo como 22em se quiser fixo */
    max-width: 100%; /* para responsividade */
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nowTime {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: rgb(83, 72, 72);
    white-space: nowrap; /* impede quebra de linha */
}

.circleImg {
    margin: 30px;
    border-radius: 50%;
    border: 1px solid black;
    height: 350px;
    width: 350px; /* Adicione isso, se ainda não existir */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}