body {
    background-color: #ffcb63
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 90vh; /* ajuste conforme necessário */
}

.title {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5em;
}

.card-principal {
    background-color: #f6fad9;
    border: 2px solid rgb(95 97 110);
    border-radius: 0.2em;
    padding: 20px;
    margin: 20px 0px 25px 0px;
    width: 20em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3em;
}

.nowTime {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 10%;
    color: rgb(83, 72, 72);
}

.circleImg {
    border-radius: 50%;
    border: 1px solid black;
    height: 350px;
    width: 350px; /* Adicione isso, se ainda não existir */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}